#board-wp{:'ng-controller' => 'BoardController'}
  #board-ui.col-md12
    //Row 1
    #r1
      .space.c1{:'col' =>'1', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c2{:'col' =>'2', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c3{:'col' =>'3', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c4{:'col' =>'4', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c5{:'col' =>'5', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c6{:'col' =>'6', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c7{:'col' =>'7', :'ng-click' => 'move($event)'}
        .coin.blank

    //Row 2
    #r2
      .space.c1{:'col' =>'1', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c2{:'col' =>'2', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c3{:'col' =>'3', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c4{:'col' =>'4', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c5{:'col' =>'5', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c6{:'col' =>'6', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c7{:'col' =>'7', :'ng-click' => 'move($event)'}
        .coin.blank

    //Row 3
    #r3
      .space.c1{:'col' =>'1', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c2{:'col' =>'2', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c3{:'col' =>'3', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c4{:'col' =>'4', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c5{:'col' =>'5', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c6{:'col' =>'6', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c7{:'col' =>'7', :'ng-click' => 'move($event)'}
        .coin.blank

    //Row 4
    #r4
      .space.c1{:'col' =>'1', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c2{:'col' =>'2', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c3{:'col' =>'3', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c4{:'col' =>'4', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c5{:'col' =>'5', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c6{:'col' =>'6', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c7{:'col' =>'7', :'ng-click' => 'move($event)'}
        .coin.blank

    //Row 5
    #r5
      .space.c1{:'col' =>'1', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c2{:'col' =>'2', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c3{:'col' =>'3', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c4{:'col' =>'4', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c5{:'col' =>'5', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c6{:'col' =>'6', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c7{:'col' =>'7', :'ng-click' => 'move($event)'}
        .coin.blank

    //Row 6
    #r6
      .space.c1{:'col' =>'1', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c2{:'col' =>'2', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c3{:'col' =>'3', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c4{:'col' =>'4', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c5{:'col' =>'5', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c6{:'col' =>'6', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c7{:'col' =>'7', :'ng-click' => 'move($event)'}
        .coin.blank

    //Row 7
    #r7
      .space.c1{:'col' =>'1', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c2{:'col' =>'2', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c3{:'col' =>'3', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c4{:'col' =>'4', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c5{:'col' =>'5', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c6{:'col' =>'6', :'ng-click' => 'move($event)'}
        .coin.blank
      .space.c7{:'col' =>'7', :'ng-click' => 'move($event)'}
        .coin.blank
  #options.col-md-12
    %a{:'ng-click' => 'new_game()'} New Game